<% provide(:title, "LinGoChanって何") %>


<div class = "about_container">

  <h1 class = "about_title">LinGoChanって何？</h1>

  <div class = "about_body">
    <div class = "about_head">
      <h2 class = "about_quasititle">3つの投稿手段で日本語を学ぼう！</h2>

      <p>1,  画像による、お題投稿</p>

      <p>2, お題に対するコメント</p>

      <p>3, コメントに対するフィードバック</p>
    </div>

    <div class = "about_subject_post">
      <%= image_tag class: 'about_size' ("subject_post.png", alt: "LimGoChan-subject_post")%>
    </div>

    <div class = "about_reply_post">
      <%= image_tag class: 'about_size' ("reply_post.png", alt: "LimGoChan-reply_post")%>
    </div>

    <div class = "about_feedback_post">
      <%= image_tag class: 'about_size' ("feedback_post.png", alt: "LimGoChan-feedback_post")%>
    </div>

    <div class = "about_subject_post">
      <%= image_tag class: 'about_size' ("edit_delete.png", alt: "LimGoChan-edit_delete")%>
    </div>

  </div>

</div>
