<div class="center jumbotron">
  <h1>LinGoChan</h1>
  <div>
    <p>誰かが画像を投稿し</p>
    <p>誰かがコメントを残し</p>
    <p>誰かがフィードバックしてくれる</p>
  </div>
  <p id= "kimezerifu">全く新しい日本語学習アプリ</p>
  <%= link_to "いますぐ始める！", '#', class: "btn btn-lg btn-primary" %>
  <%= link_to "LinGoChanって何?", 'about_path', class: "btn btn-lg btn-primary" %>
</div>
