
    <li class = col-mid-2 user>
      <%= gravatar_for user, size: 50 %>
      <%= link_to user.name, user %>
      <% if current_user.admin? && !current_user?(user) %>
        <%= button_to '削除', "/tags/#{list.id}", {method: :delete, data: { confirm: "You sure?" },
                                 class: "ungeneral_button", form: {style: 'display:inline;'}} %>
      <% end %>
    </li>
