<% provide(:title, 'All users') %>

<% breadcrumb :user%>
<%= render "shared/breadcrumbs" %>

<h1>全ユーザー</h1>

<%= paginate @users %>

<ul class="users">

  <%= render @users %>

</ul>

<%= paginate @users %>
