<% provide(:title, @user.name) %>

<% breadcrumb :show, @user%>
<%= render "shared/breadcrumbs" %>

  <section class="row user_info upper_info_row">
    <aside class="col-md-6 upper_user_info">
      <%#ユーザーの画像 %>
        <%= render 'shared/user_info', user: @user %>

   </aside>

      <%#自己紹介%>
    <aside class="col-md-6">
      <div class = "self_introduction">
        <p class = "self_introduction_text">
        <%= @user.self_introduction %>
        </p>
      </div>
    </aside>
  </section>

  <div class="item_field">
    <%= render "shared/tabpage"%>
  </div>
