<% if @feedback_posts.present? %>

  <div class="row sublect_posts">
    <% @feedback_posts.each do |feedback_post| %>
      <div class = "col-md-6 post_item">
        <%= render "feedback_posts/feedback_post", feedback_post: feedback_post %>
      </div>
    <% end %>
  </div>

  <%= paginate @feedback_posts %>

<% else %>
  <p>まだ「フィードバック」は投稿されていません</p>
<% end %>
