<% if @feedback_posts.present? %>
  <ol class="sublect_posts">
    <%= render @feedback_posts %>
  </ol>
  <%= paginate @feedback_posts %>

<% else %>
  <p>まだ「フィードバック」は投稿されていません</p>
<% end %>
