
<div class = tag_field_container>

  <div class = tag_explanation>
    <p>"スペースを入力することで複数のタグを付けることができます。</p>
  </div>
  <div class = "tag_field">
      <%= f.text_field :tag_name %>
  </div>
</div>
