<% if @reply_posts.present? %>
  <div class="row sublect_posts">
    <% @reply_posts.each do |reply_post| %>
    <div class = "col-md-6 post_item">
      <%= render "reply_posts/reply_post", reply_post: reply_post %>
    </div>
    <% end %>
  </div>
  <%= paginate @reply_posts %>

<% else %>
  <p>まだ「ひとこと」は投稿されていません</p>
<% end %>
