<% if @subject_feed_items.any? %>
  <ol class="sublect_posts">
    <%= render @subject_feed_items %>
  </ol>
  <%= paginate @subject_feed_items %>

<% else %>
  <p>まだ「お題」は投稿されていません</p>
<% end %>
