<div class = "tag_list_container">
<span class = "tag_list_name"> タグリスト </span>

<span class = tag_list>

<% if subject_post.tags.present? %>
  <% subject_post.tags.each do |list| %>
      <%= link_to list.tag_name, tag_subject_posts_path(tag_id: list.id) %>

      <% if logged_in? %>
        <%= link_to '削除', "/tags/#{list.id}", method: :delete %>
      <% end %>

      <%#= "(#{list.subject_posts.count})" %>
  <% end %>
<% end %>
</span>
</div>
