<% if @subject_posts.present? %>

  <div class="row sublect_posts">
    <% @subject_posts.each do |subject_post| %>
      <div class = "col-md-6 post_item">
        <%= render "subject_posts/subject_post", subject_post: subject_post %>
      </div>
    <% end %>
  </div>

  <%= paginate @subject_posts %>

<% else %>
  <p>まだ「お題」は投稿されていません</p>
<% end %>
