<div class = "tag_list_container">
<span class = "tag_list_name"> タグリスト: </span>

<br>

<span class = "tag_list">
<ul>
<% if subject_post.tags.present? %>
  <% subject_post.tags.each do |list| %>
    <span class = "tag_set">
      <li class = "tag_align">
        <%= link_to list.tag_name, "#", {class: "tag_unit"} %>
        <% if logged_in? %>
          <%= button_to '×', "/tags/#{list.id}", {method: :delete, class: "tag_delete_button", form: {style: 'display:inline;'}} %>
        <% end %>
      </li>
    </span>
      <%#= "(#{list.subject_posts.count})" %>
  <% end %>
<% end %>
</ul>
</span>
</div>
