  <!-- 上部のタブの部分 -->

<main class="p-3">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a href="#subject_posts" class="nav-link active" data-toggle="tab">お題</a>
    </li>
    <li class="nav-item">
      <a href="#reply_posts" class="nav-link" data-toggle="tab">ひとこと</a>
    </li>
    <li class="nav-item">
      <a href="#feedback_posts" class="nav-link" data-toggle="tab">フィードバック</a>
    </li>
  </ul>
