  <!-- 上部のタブの部分 -->

<main class="p-3">
  <ul class="nav nav-tabs tab_area">
    <li class="nav-item tab1_label">
      <a href="#subject_posts" class="nav-link active tab_a" data-toggle="tab">お題</a>
    </li>
    <li class="nav-item tab2_label">
      <a href="#reply_posts" class="nav-link tab_a" data-toggle="tab">ひとこと</a>
    </li>
    <li class="nav-item tab3_label">
      <a href="#feedback_posts" class="nav-link tab_a" data-toggle="tab">フィードバック</a>
    </li>
  </ul>
