<div class = "tag_list_container">
<span class = "tag_list_name"> タグリスト </span>

<span class = tag_list>

<% if @tag_list.present? %>
  <% @tag_list.each do |list| %>
      <%= link_to list.tag_name, tag_subject_posts_path(tag_id: list.id) %>
      <%= "(#{list.subject_posts.count})" %>
  <% end %>
<% end %>
</span>
</div>
