<div class = "container">
  <div class = "subject_post">
    <% render subject_post %>
  </div>

  <div class = "reply_post">
    <%= render reply_post %>
  </div>

  <div class = "feedback_form">
    <%= render shared/feedback_posts_form %>
  </div>

</div>
