<div class = "reply-form_container">
  <div class = "reply_post-form">
    <%= render "/reply_posts/reply_post", reply_post: @reply_post %>
  </div>

  <div class = "feedback_form">
    <%= render "shared/feedback_posts_form" %>
  </div>
</div>
