 <%# フィードバックを選んでもらうためのインデックス %>

<% provide(:title, 'All reply_posts') %>

<% breadcrumb :reply_post%>
<%= render "shared/breadcrumbs" %>

<h1>フィードバックしたいひとことを選んでください！！</h1>

<% if @reply_posts.present? %>

  <%= paginate @reply_posts %>

  <ul class="reply_posts">

    <%= render "reply_post" %>

  </ul>

  <%= paginate @reply_posts %>

<% else %>

  <p>まだ投稿はありません</p>

<% end %>
