@import './bootstrap_custom.scss';

/*ページ全体に関するCSS*/
.upper_info{
  text-align: center;
}

.upper_user_info{
  margin-top: 40px;
  text-align: center;
}

.upper_info_row{
  background-color:rgba(245,245,245,0.9);
  border-top : solid 1px #dcdcdc; /*gainsboro*/
  border-bottom : solid 1px #808080; /*darkgray*/
  border-right : solid 1px #808080; /*darkgray*/
  border-left : solid 1px #dcdcdc; /*gainsboro*/
  color: #2e8b57; /*seagreen*/
}

.self_introduction{
  margin: 25px;
  border: solid 1px #dcdcdc;
  height: 250px;
}

.upper_post{
  margin: 25px 0;
}

.post_count{
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.self_introduction_text{
  position: absolute;
  top: 50%; /*親要素を起点に上から50%*/
  left: 50%;  /*親要素を起点に左から50%*/
  transform: translateY(-50%) translateX(-50%); /*要素の大きさの半分ずつを戻す*/
  -webkit-transform: translateY(-50%) translateX(-50%);
}

/*ロードアニメーション*/
#page-animate::before {
 content: '';
 position: fixed;
 top: 0;
 width: 100%;
 height: 100%;
 background-color: #333;
 z-index: 9999;
 pointer-events: none;
 right: 100%;
 -webkit-transition: right 0.8s cubic-bezier(0.4, 0, 0.2, 1);
 transition: right 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}
 #page-animate::after {
 content: '';
 position: fixed;
 top: 0;
 width: 100%;
 height: 100%;
 background-color: #333;
 z-index: 9999;
 pointer-events: none;
 left: 100%;
 -webkit-transition: left 0.8s cubic-bezier(0.4, 0, 0.2, 1);
 transition: left 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}
 #page-animate.is-slide-in::before {
 right: 0;
}
 #page-animate.is-slide::after {
 left: 0;
}
/*アニメここまで*/

/*ボタン全般*/
  /*ログイン系のボタン*/

  /*一般ボタン*/
.general_button2{
  display: block;
  text-decoration: none;
  text-align: center;
  background-color: #FFA500;
  border-radius: 5px;
  -weabkit-transition: all 0.5s;
  transition: all 0.5s;
  margin: 10px;
}

.general_button2:hover{
  background-color: #f9c500;
}

.general_button{
  display: block;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  background-color: #2e8b57; /*seagreen*/
  border-radius: 5px;
  -weabkit-transition: all 0.5s;
  transition: all 0.5s;
  margin: 10px;
}

.general_button:hover{
  background-color: #3cb371; /*mediumseagreen*/;
  color: #ffffff;
}

/*一般じゃないボタン*/
.ungeneral_button{
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  background-color: #2e8b57; /*seagreen*/
  border-radius: 5px;
  -weabkit-transition: all 0.5s;
  transition: all 0.5s;
  margin: 10px;
}

.ungeneral_button:hover{
  background-color: #3cb371; /*mediumseagreen*/;
  color: #ffffff;
}


  /*ナビバーのボタン*/
  .drop_button{
    display: block;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    background-color: #2e8b57; /*seagreen*/
    border-radius: 5px;
    -weabkit-transition: all 0.5s;
    transition: all 0.5s;
    margin: 10px;
  }

  .drop_button:hover{
    background-color: #3cb371; /*mediumseagreen*/;
    color: #ffffff;
  }


  /*タグ削除ボタン*/
  .tag_delete_button{
    font-size: 100%;/*ボタンの大きさ*/
    font-weight: bold;
    border: 1px solid #999;
    color: #999;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 1.3em;
    line-height: 1.3em;
    cursor: pointer;
    transition: .2s;
    display: inline; /*タグを整列させるため*/
}

.tag_delete_button:hover{
    background: #333;
    border-color: #333;
    color: #FFF;
}

/*ボタンここまで*/



/*ヘッダーについて*/
  /*ロゴについて*/
#logo:hover{
  opacity: 0.5;
}
  /*ナビバーについて*/
.navbar {
    background-color: #ffffff;
}

/*ヘッダーの各メニューについて*/
.main-menu{
    font-size: 1rem;
    color: #2e8b57; /*seagreen*/
    display: block;
    padding: 0 15px;
    cursor: pointer;
    transition: background-color 1s linear;
    transition: color 1s linear;
  }
.main-menu:hover {
      background-color: #2e8b57; /*seagreen*/
      color: #ffffff; /*白*/
      transition: background-color 0.1s linear; /* 追加 */
}

/*ヘッダーここまで*/

/*パスワード記憶のためのチェックボックス*/
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}
#session_remember_me {
  width: auto;
  margin-left: 0;
}
/*パスワード記憶のためのチェックボックスここまで*/

/*タグの整列*/
.tag_align{
display: inline;
width:100px;
height:50px;
}
/*タグの整列終わり*/

/*ページネーション自体のデザイン*/
.pagination>li>a {
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 15px;    /*角を丸くする*/
}
/*ページネーションのデザインここまで*/


/*フッターについて*/
.footer{
  margin:100px;
  border-top: solid 1px #2e8b57; /*seagreen*/
}

.footer_ul{
  list-style: none;
}

.footer-menu{
    font-size: 1rem;
    color: #2e8b57; /*seagreen*/
    background-color:rgba(245,245,245,0.9);
    display: inline-block;
    padding: 0 15px;
    cursor: pointer;
    transition: background-color 1s linear;
    transition: color 1s linear;
    list-style: none;
    margin: 5px;
    border-top : solid 1px #dcdcdc; /*gainsboro*/
    border-bottom : solid 1px #808080; /*darkgray*/
    border-right : solid 1px #808080; /*darkgray*/
    border-left : solid 1px #dcdcdc; /*gainsboro*/
  }

.footer-menu:hover {
      background-color: #2e8b57; /*seagreen*/
      color: #ffffff; /*白*/
      transition: background-color 0.1s linear; /* 追加 */
}
/*フッターここまで*/

/*タブ部分について*/
.tab_area{font-size:0; margin:0 10px;}
.tab_a{
  width:150px;
  margin:0 5px;
  display:inline-block;
  padding:12px 0;
  color:#ffffff;
  background-color: #2e8b57; /*seagreen*/
  text-align:center;
  font-size:13px;
  cursor:pointer;
  transition:ease 0.2s opacity;
  border: solid 1px #808080; /*darkgray*/
  opacity: 0.9;
}
.tab_a:hover{opacity:0.5;}
.tab_a:active{
  background-color:rgba(245,245,245,0.9);
}
.panel_area{
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  background-color:rgba(245,245,245,0.9);
  border-bottom : solid 1px #808080; /*darkgray*/
  border-right : solid 1px #808080; /*darkgray*/
  border-left : solid 1px #dcdcdc; /*gainsboro*/
  color: #2e8b57; /*seagreen*/
}

.title_letter{
  padding: 0px 2px 2px 2px;
  margin: 10px 3px 3px 3px;
  background-color: #ffffff;
  display: inline-block;
  border-bottom : solid 1px #808080; /*darkgray*/
  border-right : solid 1px #808080; /*darkgray*/
  opacity: 0.8;
}


/*ユーザー写真について*/
.user_image:hover{
    opacity: 0.5;
}
