@import './bootstrap_custom.scss';

/*ロードアニメーション*/
#page-animate::before {
 content: '';
 position: fixed;
 top: 0;
 width: 100%;
 height: 100%;
 background-color: #333;
 z-index: 9999;
 pointer-events: none;
 right: 100%;
 -webkit-transition: right 0.8s cubic-bezier(0.4, 0, 0.2, 1);
 transition: right 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}
 #page-animate::after {
 content: '';
 position: fixed;
 top: 0;
 width: 100%;
 height: 100%;
 background-color: #333;
 z-index: 9999;
 pointer-events: none;
 left: 100%;
 -webkit-transition: left 0.8s cubic-bezier(0.4, 0, 0.2, 1);
 transition: left 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}
 #page-animate.is-slide-in::before {
 right: 0;
}
 #page-animate.is-slide::after {
 left: 0;
}
/*アニメここまで*/

/*バックグラウンドについて*/
.main_contents{
  background-image:  image-url("/images/background_img.png");
  background-size: cover;
  background-repeat: repeat-x;
}
/*バックグラウンドここまで*/


/*ヘッダーについて*/

#logo:hover{
  opacity: 0.5;
}

.navbar {
    background-color: #ffffff;
}

/*パスワード記憶のためのチェックボックス*/
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}
#session_remember_me {
  width: auto;
  margin-left: 0;
}

/*ページネーション自体のデザイン*/
.pagination>li>a {
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 15px;    /*角を丸くする*/
}
