/*タブ部分について*/
.tab_area{font-size:0; margin:0 10px;}
.tab_a{
  width:150px;
  margin:0 5px;
  display:inline-block;
  padding:12px 0;
  color:#ffffff;
  background-color: #2e8b57; /*seagreen*/
  text-align:center;
  font-size:13px;
  cursor:pointer;
  transition:ease 0.2s opacity;
  border: solid 1px #808080; /*darkgray*/
  opacity: 0.9;
}
.tab_a:hover{opacity:0.5;}
.tab_a:active{
  background-color:rgba(245,245,245,0.9);
}
.panel_area{
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  background-color:rgba(245,245,245,0.9);
  border-bottom : solid 1px #808080; /*darkgray*/
  border-right : solid 1px #808080; /*darkgray*/
  border-left : solid 1px #dcdcdc; /*gainsboro*/
  color: #2e8b57; /*seagreen*/
}

 /*〇〇のお題とかそういう系男子*/
.title_letter{
  padding: 0px 2px 2px 2px;
  margin: 10px 3px 3px 3px;
  background-color: #ffffff;
  display: inline-block;
  border-bottom : solid 1px #808080; /*darkgray*/
  border-right : solid 1px #808080; /*darkgray*/
  opacity: 0.8;
}


/*ユーザー写真について*/
.user_image:hover{
    opacity: 0.5;
}


/* 全体postの枠 */
.each_post_container{
    margin: 5px;
    padding: 5px;
    background-color: #ffffff;
    border-top : solid 1px #dcdcdc; /*gainsboro*/
    border-bottom : solid 1px #808080; /*darkgray*/
    border-right : solid 1px #808080; /*darkgray*/
    border-left : solid 1px #dcdcdc; /*gainsboro*/
}

/*タイムスタンプ*/
.timestamp{
  margin-left: 10px;
}

#timestamp{
  background-color:rgb(208,226,190); /*https://www.i-iro.com/dic/usumidori*/
  color: #ffffff;
}

/*subject_post関連*/
.subject_post_cintainer{
  text-align: center;
}

.subject-image{
  margin-top: 3px;
  text-align: center;
  width: 100%;
}

.subject-content:hover{
  opacity: 0.5;
}

/*reply_post関連*/
.reply_content{
  text-align: center;
  font-size: 1.2em;
}

/*feedback_post関連*/
.feedback_content{
  text-align: center;
}

/*top画像ほ背景とか*/
.post_image{
  padding: 3px;
  background-color:rgb(208,226,190); /*https://www.i-iro.com/dic/usumidori*/

}

/*adminのみが削除出来るエリア*/
.admin_area{
  background-color: #f0908d; /*薄紅*/
}

/*テキストエリアたち*/
#reply_post_content{
  width: 400px;
  height: 150px;
}

#feedback_post_content{
  width: 400px;
  height: 150px;
}
