/*homeについて*/
.landing_container{
  padding:200px 100px;
}

.landing{
  height: 10rem;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  max-width: 550px;
}

.main_title{
  font-size: 3em;
  color: #228b22 /*forestgreen*/
}

.mongon{
  color: #3cb371 /*mediumseagreen*/
}

.kimezerifu{
  font-size: 2em;
  color: #228b22 /*forestgreen*/
}

.landing_button{
  margin:15px;
}


/*お題を投稿してくださいのところ*/
.tag_field{
  display: inline-block;
  margin: 5px;
}

/*home終わり*/
