
/*user#indexについて*/

.users{
  list-style: none;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  background-color:rgba(245,245,245,0.9);
  border-bottom : solid 1px #808080; /*darkgray*/
  border-right : solid 1px #808080; /*darkgray*/
  border-left : solid 1px #dcdcdc; /*gainsboro*/
}
/*user#indexここまで*/
