<div class = "subject-form_container">
  <div class = "subject_post-form">
    <%= render "/subject_posts/subject_post", subject_post: @subject_post  %>
  </div>
  <div class = "reply_form">
    <%= render 'shared/reply_posts_form' %>
  </div>
</div>
