<% if @subject_post.present? %>

  <% provide(:title, @subject_post.id) %>

  <div class = "main post-show">

    <div class = "show-title">
      <h1><%= link_to @subject_post.user.name, user_path(@subject_post.user)%>のお題</h1>
    </div>

    <%= render 'subject_post_reply_form' %>

  <% else %>
    <p>まだ投稿はありません</p>
  <% end %>

</div>
