<%# お題、一言、フェードバックの塊の羅列 %>

<% provide(:title, 'All feedback_posts') %>
<h1>フィードバックの一覧</h1>

<% if @feedback_posts.present? %>

<%= paginate @feedback_posts %>

<ul class="feedback_posts">

  <%= render "feedback_post" %>

</ul>

<%= paginate @feedback_posts %>

<% else %>

  <p>まだ投稿はありません</p>

<% end %>
