<% provide(:title, @feedback_post.id) %>

<div class = "main post-show">

  <% if @feedback_post.present? %>

    <div class = "show-title">
      <h1><%= link_to @feedback_post.user.name, user_path(@feedback_post.user)%>のフィードバック</h1>
    </div>

    <%= render "/feedback_posts/at_feedback_post"%>

  <% else %>
    <p>まだ投稿はありません</p>
  <% end %>

</div>
